.search-result {
    padding: 1em;
    display: flex;
    align-items: center;
    height: 5em;
    font-weight: 800;
    font-size: 1.3em;
}

.search-result:hover {
    background-color: #ddd;
    color: rgb(var(--foreground-rgb));
    cursor: pointer;
}